Repository sibiraj-s/gulp-plugin-terser: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

release: gulp-plugin-terser v4.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: package exports
  package.json
Due: none

release: gulp-plugin-terser v4.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: bump dependencies and replace eslint
  .lintstagedrc.yml
  package-lock.json
  package.json
Due: prettier --write

chore: fix oxlint configuration
  .eslintrc.yml
  oxlintrc.json
Due: prettier --write

chore: update repository config
  package.json
Due: none

chore: bump dependencies
  .github/workflows/publish.yml
  .github/workflows/tests.yml
  index.js
  package-lock.json
  package.json
  tests/gulp.test.js
Due: eslint --fix, prettier --write

chore: fix lockfile
  package-lock.json
Due: none

ci: use npm staged publishing
  .github/workflows/publish.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{md,yml})
